/*-- scss:rules --*/

/* Default styles for columns */
/* Specific widths for the columns */
#img, #img-right {
  width: 40%;
}

#text {
  width: 60%;
  text-align: center;
}

@media (max-width: 425px) {
  .columns {
    display: flex !important;
    flex-direction: column !important;
  }

  .columns > .columns {
    display: flex !important;
    flex-direction: column !important;
  }

  .columns > .columns > .column#img-right {
    order: -1 !important;
  }

  .columns > .columns > .column#text {
    order: 1 !important;
  }

  #img-right, #img, #text {
    width: 100% !important;
  }

  .team-img {
    width: 100% !important;
  }
  
  #text {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
  }
}

div.column {
    display: inline-block !important;
    overflow-x: initial !important;
    vertical-align: middle !important;
    width: 50% !important;
    padding-bottom: 15px !important;
}

.divider {
  position: relative;
  text-align: center;
  padding-top: 20px;
}

.divider::before {
  content: '· · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · ·';
  display: block;
  text-align: center;
  width: 100%;
}