// Quarto custom theming: https://quarto.org/docs/output-formats/html-themes.html#custom-themes
// Color Palette Finder: https://r-graph-gallery.com/color-palette-finder
// Color Palette: {rcartocolor} R package
// #C4E6C3FF, rgba(196, 230, 195, 1)
// #96D2A4FF, rgba(150, 210, 164, 1)
// #6DBC90FF, rgba(109, 188, 144, 1)
// #4DA284FF, rgba(77, 162, 132, 1)
// #36877AFF, rgba(54, 135, 122, 1)
// #266B6EFF, rgba(38, 107, 110, 1)
// #1D4F60FF, rgba(29, 79, 96, 1)

$mint-cream: rgba(196, 230, 195, 1);
$celadon: rgba(150, 210, 164, 1);
$medium-aquamarine: rgba(109, 188, 144, 1);
$viridian: rgba(77, 162, 132, 1);
$jungle-green: rgba(54, 135, 122, 1);
$teal-blue: rgba(38, 107, 110, 1);
$prussian-blue: rgba(29, 79, 96, 1);






/*-- scss:defaults --*/
$body-bg: $mint-cream;
$body-color: $jungle-green;
$link-color: $prussian-blue;


/*-- scss:rules --*/
// Change the color of links to the lighter ocean blue
a {
  color: $link-color;
}

// Change the color of the active nav link
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: $link-color !important; // Ensure the color is applied
}

.tab-content,
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: rgba(0, 100, 117, 0.4);
}

.index-center,
{
  background-color: rgba(0, 100, 117, 0.4); /* Background color */
  padding: 28px; /* Adjust the value as needed */
  border-radius: 15px; /* Adjust the value as needed for roundness */
  border-top: 1px solid rgba(232, 232, 232, 1); /* Top border style */
  border: 1px solid rgba(232, 232, 232, 1); /* Apply border to all sides except top */
}

.btn .btn-outline-light .btn-theme, 
.bi-lightbulb-fill::before,
.bi-currency-dollar::before,
.bi-water::before {
  color: $link-color;
}

#quarto-back-to-top {
  box-shadow: 0 .2rem .5rem rgb(232, 232, 232), 0 0 .05rem rgb(232, 232, 232);
  background-color: rgba(0, 100, 117, 0.4);
  color: $link-color;
  border: 1px solid rgba(232, 232, 232, 1) !important; /* Add this line for the border */
}

// Change navigation border color
.navbar {
  border-bottom-color: rgba(232, 232, 232, 1); // White
}

/* Change page footer border color */
.footer {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 1);
}

// Change the line under headers
h1, h2, h3, h4, h5, h6 {
  border-bottom-color: rgba(232, 232, 232, 1); // White
}

.team-img {
  border-radius: 50%; /* Ensure the image is a circle */
  //width: 200px; /* Adjust the width and height to the same value for a perfect circle */
  //height: 200px;
  overflow: hidden; /* This is optional but can help with some layouts */
  object-fit: cover; /* This will ensure the image is scaled to cover the entire circle */
  object-position: center; /* This will center the image within the circle */
  border-top: 1px solid rgba(232, 232, 232, 1); /* Top border style */
  border: 1px solid rgba(232, 232, 232, 1); /* Apply border to all sides except top */
}
