/*-- scss:defaults --*/
$link-color: rgb(114, 191, 201);
$body-bg: rgba(0, 126, 147, 1);
$body-color: rgba(232, 232, 232, 1);

/*-- scss:rules --*/
// Change the color of links to the lighter ocean blue
a {
  color: $link-color;
}

// Change the color of the active nav link
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: $link-color !important; // Ensure the color is applied
}

.index-center {
  background-color: rgba(0, 126, 147, 0.55); /* Background color */
  padding: 28px; /* Adjust the value as needed */
  border-radius: 15px; /* Adjust the value as needed for roundness */
  border-top: 1px solid rgba(232, 232, 232, 1); /* Top border style */
  border: 1px solid rgba(232, 232, 232, 1); /* Apply border to all sides except top */
}

.btn .btn-outline-light .btn-theme, 
.bi-lightbulb-fill::before,
.bi-currency-dollar::before,
.bi-water::before {
  color: $link-color;
}

#quarto-back-to-top {
  box-shadow: 0 .2rem .5rem rgb(232, 232, 232), 0 0 .05rem rgb(232, 232, 232);
  color: $link-color;
  border: 1px solid rgba(232, 232, 232, 1) !important; /* Add this line for the border */
}

// Change navigation border color
.navbar {
  border-bottom-color: rgba(232, 232, 232, 1); // White
}

/* Change page footer border color */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 1) !important; /* White border */
}

// Change the line under headers
h1, h2, h3, h4, h5, h6 {
  border-bottom-color: rgba(232, 232, 232, 1); // White
}

.team-img {
  border-radius: 50%; /* Ensure the image is a circle */
  //width: 200px; /* Adjust the width and height to the same value for a perfect circle */
  //height: 200px;
  overflow: hidden; /* This is optional but can help with some layouts */
  object-fit: cover; /* This will ensure the image is scaled to cover the entire circle */
  object-position: center; /* This will center the image within the circle */
  border-top: 1px solid rgba(232, 232, 232, 1); /* Top border style */
  border: 1px solid rgba(232, 232, 232, 1); /* Apply border to all sides except top */
}
